[submodule "SIMDxorshift"]
	path = SIMDxorshift
	url = https://github.com/lemire/SIMDxorshift.git
	branch = master
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
	branch = release-0.3.0
[submodule "mman-win32"]
	path = mman-win32
	url = https://github.com/alitrack/mman-win32.git
